Django
Pillow
South
django-tastypie==0.9.12
django-braces
mock
factory-boy
django_compressor
requests
django-guardian>=1.1.0.dev
http://github.com/kklimonda/django-images/tarball/master#egg=django-images
http://github.com/hcarvalhoalves/django-taggit/tarball/master#egg=django-taggit
